body {
    color: rgb(var(--v-theme-coffee));
    background-color: rgb(var(--v-theme-milk));
}

.button-normal {
    border: 1px solid #555;
    background-color: #eee;
    border-radius: 4px;
    padding: 4px;
}
