/*
 * 画面全体に関する設定
 */
body {
    font: 16px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    font-family: "M PLUS Rounded 1c"; /*二個文字にしているだけ、あとで変えてヨシ*/
}

a {
    color: #005eff;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    margin: 20px 0px;
}

.row1 {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #526acc;
    color:#ffffff;
    font-family: "Nico Moji"
    /* background-color: #f2efbf; */
}

.row_login {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #526acc;
    /* background-color: #86d7f7; */
    flex-basis:50%;
}
.row {
    width: 100%;
    margin: 0px 10px;
    flex-direction: column;
    height: 100vh;
    position: relative;
} 


/*
 * ボタンの共通設定
 */
.common-button {
    background-color: #526acc;
}

/*
 * トップ画面（index.hbs）に関する設定
 */
.container_login {
}

.index-user_name {
    color: #ffffff;
}

.index-user_name_text {
    width: 200px;
}

.index-enter {
    color: #ffffff;
}

.index-enter_button{
    background-color: #f3ee91;
    border: 0px solid #999;
    color: #424604;
    
}
.index-enter_button:hover{
    background-color: #7b8217;
    border: 0px solid #999;
    
}
/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {
    margin-top: 60px;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
}
.sideBar {
    background-color: #526acc;
    /* background-color: #91e0ff; */
    margin: 0px;
    padding: 0px 10px;
    height: 100vh;
    min-width: 280px;
    overflow: scroll;
}
.sideHeader {
    margin: 0px;
    padding-top: 10px;
    font-family: "Nico Moji";
    position: fixed;
    background-color: #526acc;
}

.sideHeader h3{
    color: white;
}

.roomList {
    border-bottom: 1px solid #ffffff;
    margin-top: 60px;
}

.roomList p{
    color: white;
    padding-left: 10px;
}

.memberList p{
    color: white;
    padding-left: 10px;
}

.board {
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #526acc;
    display: flex;
    width: 100vh;
    background-color: #ffffff;
}

.room-login_user {
    margin-top: 80px;
    font-size: ;
}


.input-box {
    position: sticky;
    display: flex;
    position: absolute;
    width: 100vh;
    bottom: 0;
    border-top: 1px solid #526acc;
}

textarea {
    width: 80vh;
    resize: none;
}

.room-message { 
}

.room-message_textarea {
    
}

.room-submit {
    display: block;
    margin-left: 20px;
}

.room-button {
    border: 0px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: #526acc;
    color: #ffffff;
}

.room-button:hover {
    background: #516acda5
}

.room-thread {
    margin-bottom: 0px;
    overflow: scroll;
    width: 100%;
    height: 60vh;
}

.chat-user {
    font-size: smaller;
}

.chat-date {
    font-size: smaller;
    color: gray;
}

.room-exit {
    margin: 0 0 10px auto;
}


.room-group {
    display: block;
}

/*ルームのボタンの設定*/

.room-group label{
    display: block;
    width: 150px;
    background: #526acc;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.room-group input:checked+label{
    background: #ffffff;
    color: #526acc;
}
.room-group input{
    display: none;
}

/* 新規登録画面 */

.letter-back {
    background: beige;
    padding: 20px;
}

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 0 auto;
    max-width: 550px;
    min-height: 300px;
    padding-top: 24px;
    position: relative;
}

.register-header {
    background-color: #526acc;
    color: #ffffff;
    text-align: center;

}

.row_assign {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis:50%;
};

.assign {
    margin: 0 auto;
}

.register {
    text-align: center;
}

.assign-user_info {
    color: #ffffff;
}