<div class="container_login">
    <Marquee   scrollamount="3" truespeed>
        <img src="img/kumoyellow.png" width="200" height="150">
    </Marquee>
    <Marquee   scrollamount="7" truespeed>
        <img src="img/tori.gif" width="50" height="50">
    </Marquee>
    <!--動くイメージ↑-->

    <div class="row1">
        <h1>チャットアプリ</h1>
    </div>
    <div class="row_login">
        <form method="post" action="/room">
            <div class="index-user_name">
                おなまえ
                <br>
                <input type="text" id="userName" name="userName" class="index-user_name_text">
                <br>
                かぎ
                <br>
                <input type="password" id="passwd" name="passwd" class="index-user_name_text">
            </div>
            <div class="index-enter">
                <input type="button" value="はいる" class="common-button index-enter_button" onclick="enter();">
            </div>
        </form>
    </div>
    <a href="/register">にゅうぶ</a>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/index.js"></script>
