<div class="letter-back">
    <div class="letter">
        <div class="register-header">
            <h1>入部届</h1>
        </div>
        <div class="row_assign">
            <form>
                <div class="assign">
                    おなまえ
                    <br>
                    <input required type="text" id="userName" name="userName" class="assign_user_name_text" placeholder="ユーザー名">
                    <br>
                    かぎ
                    <br>
                    <input required type="password" id="passwd" name="passwd" class="assign_user_passwd" placeholder="パスワード">
                </div>
                <div class="register">
                    <input type="button" value="提出する" class="common-button assign-user_info" onclick="register();">
                </div>
            </form>
        </div>
        <a href="/">戻る</a>
    </div>
</div>
<script src="javascripts/socket.js"></script>
<script src="/javascripts/register.js"></script>